<html>
<body>
  <p>
  <center>
  <%= form_tag('/users', method: :post, multipart: true) do %>
    <%= text_field_tag 'username' %>
    <%= password_field_tag 'password' %>
    <%= submit_tag 'Add User' %>
    <%= submit_tag 'Login' %>
    <% end %>
  </center>
  </p>
</body>
</html>
